<%- include('./includes/head.ejs') %>
<div class="container">
    <h1>This driver has a conflicting task during this time block</h1>
    <h3>Do you want to overide it?</h3>
    <form action="/select-schedule" method="POST">
        <input type="hidden" name="week" value="<%= existingTask.weekId %>">
        <input type="hidden" name="driver" value="<%= existingTask.driverId %>">
        <button type="submit" class="btn btn-danger">Cancel</button>
    </form>
    <form action="/confirm-new-task" method="POST">
        <input type="hidden" name="day" value="<%= newTaskData.day %>">
        <input type="hidden" name="startTimeBlock" value="<%= newTaskData.startTimeBlock %>">
        <input type="hidden" name="endTimeBlock" value="<%= newTaskData.endTimeBlock %>">
        <input type="hidden" name="task" value="<%= newTaskData.task %>">
        <input type="hidden" name="location" value="<%= newTaskData.location %>">
        <input type="hidden" name="description" value="<%= newTaskData.description %>">
        <input type="hidden" name="weekId" value="<%= newTaskData.weekId %>">
        <input type="hidden" name="driverId" value="<%= newTaskData.driverId %>">
        <input type="hidden" name="existingTaskId" value="<%= existingTask.taskId %>">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>
<%- include('./includes/foot.ejs') %>